{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Title</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="headerContainer" id="header">
        <h1 class="logo"> <Strong>Magda</Strong> Leal</h1>
        <div class="nav-links">
            <a href="#" class="page-selector selected">Início</a>
            <a href="#" class= "page-selector non-selected">Sobre</a>
            <a href="#" class="page-selector non-selected">Imóveis</a>
            <a href="#" class="page-selector non-selected">Contactos</a>
        </div>
    </div>
    <div class="landing-page">
        <div class="content-wrapper">
            <h1>Encontre o seu novo lar connosco</h1>
            <p>O seu futuro pode estar a um clique de distância.</p>
             <a href="#" class="cta-button" > Ver imóveis
                 <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 30 30">
                        <path d="M 15 2 A 1 1 0 0 0 14.300781 2.2851562 L 3.3925781 11.207031 A 1 1 0 0 0 3.3554688 11.236328 L 3.3183594 11.267578 L 3.3183594 11.269531 A 1 1 0 0 0 3 12 A 1 1 0 0 0 4 13 L 5 13 L 5 24 C 5 25.105 5.895 26 7 26 L 23 26 C 24.105 26 25 25.105 25 24 L 25 13 L 26 13 A 1 1 0 0 0 27 12 A 1 1 0 0 0 26.681641 11.267578 L 26.666016 11.255859 A 1 1 0 0 0 26.597656 11.199219 L 25 9.8925781 L 25 6 C 25 5.448 24.552 5 24 5 L 23 5 C 22.448 5 22 5.448 22 6 L 22 7.4394531 L 15.677734 2.2675781 A 1 1 0 0 0 15 2 z M 18 15 L 22 15 L 22 23 L 18 23 L 18 15 z"></path>
                 </svg>
             </a>
        </div>

    </div>
    <div class="about-section" >
        <div class="left">
            <div class="top-left">
                <h2 class="hidden">SOBRE</h2>
                <h1 class="hidden">Excelência na realização dos seus sonhos imobiliários.</h1>
                <p class="hidden">
                    Com mais de <span style="color:var(--secondary-color);">9 anos </span> de experiência no mercado
                    imobiliário e <span style="color:var(--secondary-color);">duas décadas</span> de engenharia civil,
                ofereço um serviço de consultoria especializado. A minha dedicação e compromisso com a excelência
                destacam o meu trabalho, e quero ajudá-lo a realizar os seus sonhos imobiliários com uma confiança e
                profissionalismo incomparáveis.
                </p>
                <a href="#" class="about-button hidden">Ler Mais

                </a>
                </div>
                <div class="bottom-left">
                    <div class="filler">
                    </div>
                    <div class="spacing">
                        <div class="info-box " style="border-left: unset" >
                            <span class="info-number hidden">22</span>
                            <span class="info-text hidden">Imóveis em venda</span>
                        </div>
                        <div class="info-box " >
                            <span class="info-number hidden">250</span>
                            <span class="info-text hidden">Imóveis vendidos</span>
                        </div>
                        <div class="info-box " >
                            <span class="info-number hidden">9+</span>
                            <span class="info-text hidden">Anos de Experiência</span>
                        </div>
                    </div>
                </div>
            </div>
        <div class="right">
            <div class="padded-background"></div>
        </div>
    </div>

    <div class="property-section">
        <div class="property-title">
            <div class="filler"></div>
            <div style="flex: 1; padding: max(20px, 3rem); " >
            <h2 class="hidden">Propriedades</h2>
            <h1 class="hidden">A preparar a nova etapa da sua vida.</h1>
            </div>
        </div>
        <div class="property-view">
                <div class="property-slider hidden">
                    <div class="property">
                        <img class="property-img" src="{% static 'properties/Sintra.jpg' %}">
                        <p>Moradia T3, Sintra</p>
                    </div>
                    <div class="property hidden">
                        <img class="property-img" src="{% static 'properties/Faial.jpg' %}">
                        <p>Moradia T4, Ilha do Faial</p>
                    </div>
                    <div class="property hidden">
                         <img class="property-img" src="{% static 'properties/AdegaFogo.jpg' %}">
                        <p>Moradia T6, Ilha do Pico</p>
                    </div>
                    <div class="property hidden">
                        <img class="property-img" src="{% static 'properties/Prainha.jpg' %}">
                        <p>Moradia T1, Praínha</p>
                    </div>
                    <div class="property hidden">
                        <img class="property-img" src="{% static 'properties/Prainha.jpg' %}">
                        <p>Moradia T1, Praínha</p>
                    </div>
                    <div class="property hidden">
                        <img class="property-img" src="{% static 'properties/Prainha.jpg' %}">
                        <p>Moradia T1, Praínha</p>
                    </div>
                    <div class="property hidden">
                        <img class="property-img" src="{% static 'properties/Prainha.jpg' %}">
                        <p>Moradia T1, Praínha</p>
                    </div>
                </div>
        </div>
    </div>

    <div class="feedback-section">
        <div class="feedback-title">
            <div class="filler" style="box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);"></div>
            <div style="text-align: center;">
            <h2 class="hidden">Feedback</h2>
            <h1 class="hidden">Não confie em nós, confie em quem já confiou.</h1>
            </div>
        </div>
        <div class="feedback-view">
            <div class="feedback" style="border-left: unset">
                <p class="hidden">“A Magda foi incansável no processo, tanto na procura como durante a aquisição, com grande profissionalismo sempre simpática, disponível e nos momentos mais críticos teve sempre uma palavra amiga.”</p>
                <h3 class="hidden">Rosário Sousa</h3>
            </div>
            <div class="feedback" style="border: unset; border-top: thin solid #A67D59; border-bottom: thin solid #A67D59;">
                <p class="hidden">“Incansáveis. Sempre que a bola está do lado da Equipa da Magda Leal, rapidamente o assunto é tratado. [...]Nunca uma chamada da nossa parte ficou por atender. Não se pode pedir mais..”</p>
                <h3 class="hidden">Silvana Curado</h3>
            </div>
            <div class="feedback" style="border-right: unset">
                <p class="hidden">“Uma agente imobiliária impecável! Não só é uma excelente profissional como também é uma amiga que se preocupa genuinamente com os seus clientes.”</p>
                <h3 class="hidden">Catarina Cardoso</h3>
            </div>
            <div class="feedback" style="border-left: unset; border-top: unset">
                <p class="hidden">“Profissionalismo, dedicação, seriedade e simpatia! Tornou todo o complexo processo da compra de uma casa, em algo muito simples, onde tudo o que foi prometido, foi cumprido! E com uma rapidez fantástica!”</p>
                <h3 class="hidden">Carlos Silva</h3>
            </div>
            <div class="feedback" style="border: unset; border-bottom: thin solid #A67D59;">
                <p class="hidden">“Tive a minha casa à venda durante cerca de dois anos e meio noutra imobiliária. Quando, felizmente, mudei para a Magda, foram 23 dias para a vender! Só lamento não o ter feito antes. [...]”</p>
                <h3 class="hidden">Sílvia Fernandes</h3>
            </div>
            <div class="feedback" style="border-right: unset; border-top: unset">
                <p class="hidden">“As a Foreign national living abroad it can be extremely difficult to purchase property in Portugal [...].  Magda’s team was able to get it done!  Magda is a true professional with all of the necessary tools to close a deal.[...]”</p>
                <h3 class="hidden">Sérgio Serpa</h3>
            </div>
        </div>
    </div>
    <div style="height: 20vh">
        <p></p>
    </div>
    <div class="lead-section">
        <div class="onTop"></div>
        <div class="left">
            <h1>Explique-nos que procura!</h1>
            <h2> Entraremos em contacto consigo o mais breve possivel.</h2>
            <div style="flex-direction: row;">
                <input class="lead-questions" type="text" name="fname" placeholder="Insira o seu nome.">
                <input class="lead-questions" type="email" name="femail" placeholder="Insira o seu email.">
            </div>
            <textarea class="lead-questions extended" type="text" name="fmessage" placeholder="O que procura?"></textarea>
            <div class="extended-lead-div">
                <button id="left" class="subscribe">Solicitar Contacto</button>
                <p class="clickable" style="padding-top:0.2rem; font-size: 0.6rem; color: whitesmoke; font-family: 'Poppins', sans-serif; font-weight: lighter; text-decoration: underline; cursor: pointer"> Prefiro assinar a newsletter!</p>
            </div>
        </div>
        <div class="right">
            <h1>Acompanhe as últimas novidades do ramo imobiliário.</h1>
            <h2>Junte-se à nossa newsletter e fique por dentro das notícias do setor e das melhores dicas de decoração.</h2>
            <div style="display: flex; flex-direction: column; align-items: center;">
            <div class="email-section">
                <input type="email" name="fname" placeholder="Insira o seu email">
                <button class="subscribe">Subscrever</button>
            </div>
                <p class="clickable" style="Padding-top:0.3rem; font-size: 0.6rem; color: whitesmoke; font-family: 'Poppins', sans-serif; font-weight: lighter; text-decoration: underline; cursor: pointer">Prefiro entrar em contacto direto!</p>
            </div>
        </div>
    </div>
    <div style="height: 30vh;"></div>
    <div class="footer" style="height: 30vh">
        <div class="nav-bar">
            <a href="#" class="">Início</a>
            <a href="#" class= "">Sobre</a>
            <h1 class="logo"> <Strong>Magda</Strong> <br> Leal</h1>
            <a href="#" class="">Imóveis</a>
            <a href="#" class="">Contactos</a>
        </div>
        <div class="socials"></div>
        <div class="credits"></div>
    </div>

    <script src="{% static 'scripts/landingpage.js' %}"></script>
</body>
</html>