{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Propriedade criada</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Estilos existentes -->
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="success-window">
        <h1>Propriedade criada com sucesso!</h1>
        <p>A tua nova propriedade foi adicionada ao sistema.</p>
        <a href="{% url 'create_property' %}" class="btn-secondary">Criar nova</a>
        <a class="btn-primary">Ver lista</a>
    </div>

</body>
</html>
