/* General Reset */


:root{
    font-size: 16px;

    --primary-color: #292C2F;
    --secondary-color: rgba(176,123,31,87%);
    --h1-color: #222;
    --h2-color: #666;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;

}
body::-webkit-scrollbar {
  display: none;
}


/* Header */
.headerContainer{
  width: 100%;
  height: 9vh;
  position: fixed;
  z-index: 1;
  background-color: rgba(41,44,47,0);
  display: flex;
  align-items: center;
  transition: opacity 0.2s;
  flex-direction: row;
  padding: 0 2rem 0 2rem;

}

.headerContainer h1{
  flex: 5;
  color: whitesmoke;
  font-weight: lighter;
  opacity: 1;
  height: auto;
}

.nav-links{
    flex:1;
    display: flex;
    justify-content:space-between;
    gap: 2rem;
    align-items: center;
}
.page-selector{
    box-sizing: content-box;
    display: inline;
    width: fit-content;
    padding: 10px;
    margin: 0;
    flex: 1;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    opacity: 1;

}

.selected{
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color);
    text-align: center;

}

.non-selected{
    text-decoration: none;
    font-weight: lighter;
    transition: all 0.2s;
    color: white;
    text-align: center;


    &:hover{
        color: var(--secondary-color);
    }
}

/* Landing Page Background */
.landing-page {
    background-image: url('/static/landingpage/LandingBackground.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
}

/* Content Wrapper */
.content-wrapper {
    max-width: 80%;
    color: white;
}

/* Heading Styling */
.landing-page h1 {
    font-size: 5rem; /* Adjust based on design 5 e 1.8 */
    font-weight: normal;
    line-height: 4rem;
    margin-bottom: 1rem;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5); /* Drop shadow for text */
}

/* Subheading Styling */
.landing-page p {
    font-weight: lighter;
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5); /* Drop shadow for text */
}

/* Call-to-Action Button */
.cta-button {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    font-weight: normal;
    border-radius: 3rem;
    text-decoration: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Drop shadow for button */
    transition: 0.3s ease
}
.cta-button svg{
    fill: black;
    vertical-align: middle;
    height: 1.4rem;
    width: auto;
    transition: 0.3s ease
}

.cta-button:hover {
    background-color: var(--secondary-color);
    color: whitesmoke;
    transform: translateY(3px);
}
.cta-button:hover svg{
    fill: whitesmoke;
}


/* Responsiveness */
@media (max-width: 768px) {
    .landing-page h1 {
        font-size: 3rem;
    }

    .landing-page p {
        font-size: 1.2rem;
    }

    .cta-button {
        font-size: 1rem;
        padding: 12px 24px;
    }
}


.about-section {
    background-image: url('/static/landingpage/GoldenStructure.pn'); /* Replace with your image path */
    background-size: cover; /* Ensure the image covers the entire section */
    background-position: center center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: max(75vh, auto); /* Full viewport height */
    box-sizing: border-box; /* Ensure padding is included in height calculation */
    overflow: hidden; /* Hide any overflow issues */
    position: relative; /* Allows stacking with z-index if needed */
    display: flex;
    flex-direction: row;

}


.about-section .left{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-left{
    flex: 3;
    padding: 5rem 5rem 1rem 5rem;

}

.top-left h2 {
    color: #666;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: normal;
}

.top-left h1 {
    color: #222;
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: normal;
}

.top-left p {
    font-size: 1rem;
    line-height: 1.4;
    margin: 20px 0 20px 0;
    font-weight: lighter;
}

.about-button {
    display: inline-block;
    background-color: var(--secondary-color); /* Gold color */
    padding: 0.5em 5em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    color: whitesmoke;
}

.about-button:hover {
    transition: all 0.3s;
    transform: translateY(3px);

}

.bottom-left {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: stretch;
}
.filler{
    flex: 1.1;

}
.spacing{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;

}

.info-box {
    flex: 1;
    text-align: center;
    padding: 3rem 0rem;
    border-left: thin solid var(--secondary-color);
    border-bottom: thin solid var(--secondary-color);
    border-top: thin solid var(--secondary-color);


}

.info-number {
    display: block;
    font-size: 3rem;
    color: #333;
    font-weight: bold;
}

.info-text {
    font-size: 0.9rem;
    color: #666;
    padding-top: 0.3rem;
    text-transform: uppercase;
}

@media (max-width: 1000px) {
    .about-section {
        flex-direction: column;
        height: 150vh;
    }

    .info-box {
        margin-bottom: 1.5rem;
    }

    .right{
        margin: unset;
    }
}

.about-section .right{
    box-sizing: border-box; /* Ensure padding is included in height calculation */
    overflow: hidden; /* Hide any overflow issues */
    flex: 1;
    margin: 0;
    border-left: thin solid var(--secondary-color);
    border-bottom: thin solid var(--secondary-color);
    display: flex;
    text-align: center;
    align-items: center;

    .padded-background{
        background-clip: content-box;
        flex: 1;
        background-image: url('/static/landingpage/FotoMagda.png'); /* Replace with your image path */
        background-position: center center; /* Center the background image */
        background-repeat: no-repeat; /* Prevent the image from repeating */
        background-size: 80%;
        padding: 1rem 1rem;
        overflow: hidden;
        height: 100%;
    }
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Propriedades */

.property-section{

}

.property-title{
    height: 35vh;
    display: flex;
    flex-direction: column;
}

.property-title h2 {
    color: #666;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 3.2rem 0 0 2.8rem;
    font-weight: normal;
}

.property-title h1 {
    color: #222;
    font-size: 2rem;
    margin: 0 0 0 2.8rem;
    font-weight: normal;
    line-height: 2.2rem;
}

.property-view{
    height: 75vh;
    background: linear-gradient(to right, var(--primary-color), #222222);
    display: flex;
    flex-direction: row;
}
.property-slider{
    overflow: hidden;
    margin: 3% 0 0 0;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 5%;

}

.property{
    flex: 1 0 25%;
    scroll-snap-align: start;
    margin: 0.2rem 0 0 2rem ;
    height: 100%;
    width: 25%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    cursor: pointer;
    color: whitesmoke;
    transition: 0.3s;

}

.property:hover{
    transform: translateY(-0.2em);
    color: var(--secondary-color);
}

.property-img{
    aspect-ratio: initial;
    flex: 4;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.property p{
    margin-top: 0.5rem;
    flex: 1;
    font-weight: normal;
    font-size: 1rem;
}

/* Feedback Section */

.feedback-section{

}

.feedback-title{
    height: 35vh;
    display: flex;
    flex-direction: column;
}

.feedback-title h2 {
    color: #666;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 3.2rem 0 0 2.8rem;
    font-weight: normal;
}

.feedback-title h1 {
    color: #222;
    font-size: 2rem;
    margin: 0 0 0 40px;
    font-weight: normal;
    line-height: 2.2rem;
}
.feedback h3 {
    color: #222;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2.2rem;
}

.feedback-view{
    margin-top: 2%;
    height: 95vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10vh;
}

.feedback{
    flex: 0 1 33.33%;
    border: thin solid var(--secondary-color);
    padding: 2rem;
    display: flex;
    flex-direction:column ;
    align-items: center;
    text-align: center;
}
.feedback p {
    font-size: 1rem;
    line-height: 1;
    font-weight: lighter;
    padding: 20% 2% 2% 0;
}

.lead-section{
    box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    height: 70vh;
    display: flex;
    flex-direction: row;
}

.lead-section .left{
    max-width: 50%;
    flex: 1 0 50%;
    background-image: url('/static/landingpage/PicoWallpaper.jpeg');
    background-size: cover;
    background-position: center;
}

.lead-section .right{
    flex: 1;
    background: rgba(41,44,47,1)
}

.lead-section .right{
    padding:6rem 0 0 5rem;
    & h1{
        padding: 0 1rem 0.3rem 0;
        line-height: 2.8rem;
        font-size: 2.1rem;
        font-weight: 500;
        color: white;
    }

    & h2{
        padding: 0 3rem 2rem 0;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: lighter;
        color: white;
    }

    & .email-section{
        min-width: 310px;
        width: 65%;
        display: flex;
        background-color: whitesmoke; /* Gold color */
        padding: 0.2rem 0.2em;
        cursor: text;
        font-weight: lighter;
        font-size: 1.2rem;
        border-radius: 50px;
        text-decoration: none;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        color: black;

        & input{
            flex: 3 0 60%;
            color: black;
            opacity: 1;
            border: none;
            outline: none;
            border-radius: 3rem;
            background-color: whitesmoke;
            padding-left: 1rem;
        }
        & .subscribe{
            margin: 0.2em;
            flex: 1 0 25%;
            background-color:  var(--secondary-color); /* Gold color */
            padding: 0.8rem 5%;
            cursor: pointer;
            font-weight: bold;
            font-size: 0.9rem;
            border-radius: 50px;
            color: white;
            border: none;
            transition: 0.3s;
            &:hover {
                background-color: var(--secondary-color);
                color: whitesmoke;
                box-shadow: 0 0 3px #ffffff;
            }
        }
    }
}
