/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;

}
body::-webkit-scrollbar {
  display: none;
}


/* Header */
.headerContainer{
  width: 100%;
  height: 9%;
  position: fixed;
  z-index: 1;
  background-color: rgba(41,44,47,0);
  display: flex;
  align-items: center;
  transition: opacity 0.2s;

}

.headerContainer h1{
  color: whitesmoke;
  font-weight: lighter;
  padding: 0 0 0 1em;
  opacity: 1;
  height: auto;
}

.page-selector{
    flex: 1;
    right: 3%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    opacity: 1;

}

.selected{
    text-decoration: none;
    position: absolute;
    font-weight: bold;
    color: #B07B1F;
    text-align: center;

}

.non-selected{
    text-decoration: none;
    position: absolute;
    font-weight: lighter;
    transition: all 0.2s;
    color: white;
    text-align: center;


    &:hover{
        color: #A67D59;
    }
}

#page1{
    right: 22vw;
}
#page2{
    right: 17vw;
}
#page3{
    right: 8vw;
}
#page4{
    right: 1vw;
}


/* Landing Page Background */
.landing-page {
    background-image: url('/static/landingpage/LandingBackground.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
}

/* Content Wrapper */
.content-wrapper {
    max-width: 90%;
    color: white;
}

/* Heading Styling */
.landing-page h1 {
    font-size: 8rem; /* Adjust based on design */
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 10px;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5); /* Drop shadow for text */
}

/* Subheading Styling */
.landing-page p {

    font-size: 2.5rem;
    margin-bottom: 40px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5); /* Drop shadow for text */
}

/* Call-to-Action Button */
.cta-button {
    display: inline-block;
    padding: 25px 60px;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    font-weight: normal;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Drop shadow for button */
    transition: 0.3s ease
}

.cta-button:hover {
    background-color: #A67D59;
    color: whitesmoke;
    transform: translateY(3px);
}

/* Responsiveness */
@media (max-width: 768px) {
    .landing-page h1 {
        font-size: 3rem;
    }

    .landing-page p {
        font-size: 1.2rem;
    }

    .cta-button {
        font-size: 1rem;
        padding: 12px 24px;
    }
}


.about-section {
    background-image: url('/static/landingpage/GoldenStructure.pn'); /* Replace with your image path */
    background-size: cover; /* Ensure the image covers the entire section */
    background-position: center center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh; /* Full viewport height */
    box-sizing: border-box; /* Ensure padding is included in height calculation */
    overflow: hidden; /* Hide any overflow issues */
    position: relative; /* Allows stacking with z-index if needed */
    display: flex;
    flex-direction: row;

}


.left{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-left{
    flex: 5;
    padding: 5em;

}

.top-left h2 {
    color: #666;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: normal;
}

.top-left h1 {
    color: #222;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.2em;
}

.top-left p {
    font-size: 1rem;
    line-height: 1.4;
    margin: 20px 0 20px 0;
    font-weight: lighter;
}

.about-button {
    background-color: #A67D59; /* Gold color */
    padding: 0.5em 5em;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    transition: transform 1s;
}

.about-button:hover {
    transform: translateY(10px);
}

.bottom-left {
    flex: 3;
    display: flex;
    flex-direction: column;
}
.filler{
    flex: 2;
}
.spacing{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-box {
    flex: 1;
    text-align: center;
    padding: 40px;
    border-left: thin solid #A67D59;
    border-bottom: thin solid #A67D59;
    border-top: thin solid #A67D59;


}

.info-number {
    display: block;
    font-size: 3rem;
    color: #333;
    font-weight: bold;
}

.info-text {
    font-size: 14px;
    color: #666;
    padding-top: 5px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .bottom-left {
        flex-direction: column;
    }

    .info-box {
        margin-bottom: 20px;
    }
}

.right{
    background-image: url('/static/landingpage/FotoMagda.png'); /* Replace with your image path */
    background-size: 85%; /* Ensure the image covers the entire section */
    background-position: center center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    width: 50%;
    box-sizing: border-box; /* Ensure padding is included in height calculation */
    overflow: hidden; /* Hide any overflow issues */
    flex: 1;
    margin: 0;
    border-left: thin solid #A67D59;
    border-bottom: thin solid #A67D59;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Propriedades */

.property-section{

}

.property-title{
    height: 35vh;
    display: flex;
    flex-direction: column;
}

.property-title h2 {
    color: #666;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 50px 0 0 40px;
    font-weight: normal;
}

.property-title h1 {
    color: #222;
    font-size: 3rem;
    margin: 0 0 0 40px;
    font-weight: normal;
    line-height: 60px;
}

.property-title p {
    font-size: 1.6rem;
    line-height: 1.4;
    margin: 20px 0 20px 40px;
    font-weight: lighter;
}
.property-view{
    height: 75vh;

    background-color: #292C2F;
    display: flex;
    flex-direction: row;
}
.property-slider{
    overflow: hidden;
    margin: 3% 0 0 5%;
    flex: 7;
    display: flex;
    flex-direction: row;
}

.property{
    margin: 0.2em 0 0 2em ;
    height: 100%;
    flex: 1;
    width: 10%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    cursor: pointer;
    color: whitesmoke;
    transition: 0.3s;

}

.property:hover{
    transform: translateY(-0.2em);
    color: #A67D59;
}

.property img{
    aspect-ratio: initial;
    flex: 4;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.property p{
    margin-top: 0.5em;
    flex: 1;
    font-weight: normal;
    font-size: 1em;
}

/* Feedback Section */

.feedback-section{

}

.feedback-title{
    height: 35vh;
    display: flex;
    flex-direction: column;
}

.feedback-title h2 {
    color: #666;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 50px 0 0 40px;
    font-weight: normal;
}

.feedback-title h1 {
    color: #222;
    font-size: 3rem;
    margin: 0 0 0 40px;
    font-weight: normal;
    line-height: 60px;
}

.feedback-view{
    margin-top: 2%;
    height: 95vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10vh;
}

.feedback{
    flex: 0 1 33.33%;
    border: thin solid #A67D59;
    padding: 30px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    text-align: center;
}
.feedback p {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: lighter;
    padding: 20% 2% 2% 0;
}

.footer-section{
    box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    height: 60vh;
    background-color: #292C2F;
}